:root {
    --color-destacado: #18a2b7;
    --color-destacado-oscuro: #116b79;
    --color-destacado-claro: #25bed5;
    --color-destacado-destacado: #00dedefa;
    --color-fondo-claro: #e8ecef;
}

.bg-fondo-footer { 
    background-color: var(--color-destacado);
}

.bg-fondo-presentacion {
    background-color: var(--color-fondo-claro);
}

.btn-personalizado {
    color: white;
    background-color: var(--color-destacado); 
}

.btn-personalizado:link { 
    color: white;
    background-color: var(--color-destacado); 
}

.btn-personalizado:visited { 
    color: white;
    background-color: var(--color-destacado); 
}

.btn-personalizado:hover { 
    color: white;
    background-color: var(--color-destacado-oscuro);
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: none;
}

.btn-personalizado:active { 
    color: white;
    background-color: var(--color-destacado-destacado); 
    border: none;
    box-shadow: none;
    transition: color 0.5s, background-color 0.5s;
}

.a-personalizado {
    color: var(--color-destacado);
    text-decoration: none;
}

.page-item-personalizado {
    margin: 10px;
}

.page-link-personalizado {
    color: var(--color-destacado);
    text-decoration: none;
}

.page-link-personalizado:visited {
    color: var(--color-destacado);
    text-decoration: underline;
}

.page-link-personalizado:hover {
    color: var(--color-destacado);
    text-decoration: underline;
}

.page-link-personalizado:hover {
    color: var(--color-destacado-destacado);
    text-decoration: underline;
}

.a-personalizado {
    color: var(--color-destacado);
    text-decoration: none;
}

.a-personalizado:visited {
    color: var(--color-destacado-oscuro);
    text-decoration: none;
}

.a-personalizado:hover {
    color: var(--color-destacado);
    text-decoration: underline;
}

.a-personalizado:active {
    color: var(--color-destacado-destacado);
    text-decoration: none;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    max-height: 30px;
}

.carousel-img {
    max-height: 300px;
    object-fit: cover;
}

.card-img-top {
    max-height: 300px;
    object-fit: cover;
}

footer {
    color: white;
}

@media (max-width: 767px) {
    .p-responsive-personalizado {
        padding: min(2em, 8%);
    }
}

@media (min-width: 768px) {
    .p-responsive-personalizado {
        padding: 4rem 7rem;
    }
}