:root {
    --color-destacado: #18a2b7;
    --color-destacado-oscuro: #116b79;
    --color-destacado-claro: #25bed5;
    --color-fondo-claro: #e8ecef;
}

.bg-fondo-footer { background-color: var(--color-destacado);}
.bg-fondo-presentacion {background-color: var(--color-fondo-claro);}

.btn-personalizado:link { 
    color: white;
    background-color: var(--color-destacado); 
}

.btn-personalizado:visited { 
    color: white;
    background-color: var(--color-destacado); 
}

.btn-personalizado:hover { 
    color: white;
    background-color: var(--color-destacado-oscuro);
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: none;
}

.btn-personalizado:active { 
    color: white;
    background-color: var(--color-destacado-claro); 
    border: none;
    box-shadow: none;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    max-height: 30px;
}

.carousel-img {
    max-height: 300px;
    object-fit: cover;
}

.card-img-top {
    max-height: 300px;
    object-fit: cover;
}

footer {
    color: white;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 0.2rem;
}

@media (max-width: 767px) {
    .p-responsive-personalizado {
        padding: min(2em, 8%);
    }
}

@media (min-width: 768px) {
    .p-responsive-personalizado {
        padding: 4rem 7rem;
    }
}